default: &default
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  adapter: sqlite3
  database: db/development.sqlite3

test:
  adapter: sqlite3
  database: db/test.sqlite3

production:
  adapter: postgresql
  encoding: unicode
  url: <%= ENV["DATABASE_URL"] || "postgresql://localhost/dummy" %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

